<!doctype html>
<html lang="en">
    <head>
        <title>AUTOLOC</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/x-icon" href="#">
        <link rel="stylesheet" href="home.component.css">    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body{
                background-color: #f8f9fa;
            }
        </style>
    </head>
    <body>
        <div>
            <h1 class="titulo">Autoloc</h1>
            <h2 class="titulo2">A sua locadora de carros<br>premium em Curitiba</h2>
            <img margin-top="50px" src="https://t3.ftcdn.net/jpg/02/56/94/74/360_F_256947432_mW9bJpGFdJo9kw9XovizaHcQI2NOVXc8.jpg" class="logoIndex"/>
        </div>
        <div>
            <button class="botao">Sobre</button>
            <button class="botao">Carros</button>
            <button class="botao">Reserve</button>
        </div>
    </body>
    <script>
        
    </script>
</html>
