<h1>Cadastro</h1>
<div>
    <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="name"
            placeholder="Insira o nome."
            [formControl]="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" class="form-control" id="email"
            placeholder="Insira o email."
            [formControl]="email">
    </div>
    <div class="mb-3">
        <label for="cpf" class="form-label">CPF:</label>
        <input type="text" class="form-control" id="cpf"
            placeholder="Insira o CPF."
            [formControl]="cpf">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Telefone:</label>
        <input type="text" class="form-control" id="phone"
            placeholder="Insira o telefone."
            [formControl]="phone">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Senha:</label>
        <input type="password" class="form-control" id="password"
            placeholder="Insira a senha."
            [formControl]="password">
    </div>
    <button class="btn btn-primary" (click)="save()">Cadastrar</button>
</div> 